In [1]:
import pandas as pd

# Series

In [3]:
data = [1,2,3,4,5]

In [4]:
s = pd.Series(data)

In [5]:
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [6]:
index = ['Linha'+str(i)for i in range(5)]

In [7]:
index

['Linha0', 'Linha1', 'Linha2', 'Linha3', 'Linha4']

In [9]:
s = pd.Series(data = data, index = index)

In [10]:
s

Linha0    1
Linha1    2
Linha2    3
Linha3    4
Linha4    5
dtype: int64

In [11]:
data = {'Linha' + str(i): i+1 for i in range(5)}

In [12]:
data

{'Linha0': 1, 'Linha1': 2, 'Linha2': 3, 'Linha3': 4, 'Linha4': 5}

In [13]:
s = pd.Series(data)

In [14]:
s

Linha0    1
Linha1    2
Linha2    3
Linha3    4
Linha4    5
dtype: int64

In [15]:
s1 = s + 2
s

Linha0    1
Linha1    2
Linha2    3
Linha3    4
Linha4    5
dtype: int64

In [16]:
s2 = s + s1
s2

Linha0     4
Linha1     6
Linha2     8
Linha3    10
Linha4    12
dtype: int64

# Data Frame

In [20]:
data = [[1,2,3],[4,5,6],[7,8,9]]
data

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [24]:
df1 = pd.DataFrame(data = data)

In [25]:
df1

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [26]:
index = ['Linha' + str(i)for i in range (3)]

In [27]:
index

['Linha0', 'Linha1', 'Linha2']

In [28]:
df1 = pd.DataFrame(data = data, index = index)

In [29]:
df1

        0  1  2
Linha0  1  2  3
Linha1  4  5  6
Linha2  7  8  9

In [30]:
coloumns = ['Coluna' + str(i)for i in range (3)]

In [32]:
coloumns

['Coluna0', 'Coluna1', 'Coluna2']

In [37]:
df1 = pd.DataFrame(data = data, index = index ,  columns = coloumns)

In [38]:
df1

        Coluna0  Coluna1  Coluna2
Linha0        1        2        3
Linha1        4        5        6
Linha2        7        8        9

In [39]:
data = {'Coluna0': {'Linha0': 1, 'Linha1': 4, 'Linha2': 7},
        'Coluna1': {'Linha0': 2, 'Linha1': 5, 'Linha2': 8},
        'Coluna2': {'Linha0': 3, 'Linha1': 6, 'Linha2': 9}}

In [40]:
data

{'Coluna0': {'Linha0': 1, 'Linha1': 4, 'Linha2': 7},
 'Coluna1': {'Linha0': 2, 'Linha1': 5, 'Linha2': 8},
 'Coluna2': {'Linha0': 3, 'Linha1': 6, 'Linha2': 9}}

In [42]:
df2 = pd.DataFrame(data)

In [43]:
df2

        Coluna0  Coluna1  Coluna2
Linha0        1        2        3
Linha1        4        5        6
Linha2        7        8        9

In [45]:
data = [(1, 2, 3), 
        (4, 5, 6), 
        (7, 8, 9)]

In [47]:
df3 = pd.DataFrame(data = data, index = index, columns = coloumns)
df3

        Coluna0  Coluna1  Coluna2
Linha0        1        2        3
Linha1        4        5        6
Linha2        7        8        9