In [49]:
import psycopg2

In [50]:
conn = psycopg2.connect(dbname="alura", user="postgres",password="postgres")

In [51]:
cur = conn.cursor()

In [52]:
cur.execute("select * from aluno")

In [53]:
resultado = cur.fetchall()

In [55]:
for res in resultado:
    print(res)

(1, 'Diogo')
(2, 'Vin√≠cius')
(3, 'Nico')

In [56]:
cur.close()

In [57]:
conn.close()