In [14]:
import psycopg2

In [15]:
conn = psycopg.connect(dbname="alura", user="postgres",password="postgres")

In [16]:
cur = conn.cursor()

In [17]:
cur.execute("select * from aluno")

In [18]:
resultado = cur.fetchall()

In [19]:
for res in resultado:
    print(res)

(1, 'Diogo')
(2, 'Vin√≠cius')
(3, 'Nico')